-# .main_chat
-#   .main-header 
-#     .main-header__left-box
-#       .main-header__left-box__current-group
-#         = @group.name
-#       .main-header__left-box__member
-#         members:
-#         .main-header__left-box__member__name
-#           - @group.users.each do |user|
-#             = user.name
-#     .main-header__edit-btn
-#       edit   
-#   .messages
-#     = render @messages
  

.main_chat
  .main-header 
    .main-header__left-box
      .main-header__left-box__current-group
        = @group.name
      .main-header__left-box__member
        members:
        .main-header__left-box__member__name
          - @group.users.each do |user|
            = user.name
    = link_to new_group_path(@group) do
      .main-header__edit-btn
        edit   
    
  
  .messages
    = render @messages
  



  
  .form
    = form_for [@group, @message], html:{class: 'new_message'} do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'


  -# 1、インプットタグ4つを変更
  -# ２、フォームタグをform＿forに変更
  -# ３、クラス名を付けていく
